<div class="container">
<div class="btn-toolbar">
    <button class="btn btn-primary" href="#newService" data-toggle="modal">New Service</button>
    <!--<button class="btn">Import From Seed</button>-->
</div>
<div class="well">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Service</th>
          <th>Revision</th>
          <th>Total Partitions</th>
          <th>Replication Factor</th>
          <th style="width: 36px;"></th>
        </tr>
      </thead>
      <tbody>
        {{#services}}
        <tr>
          <td>{{Service}}</td>
          <td>{{Revision}}</td>
          <td>{{TotalPartitions}}</td>
          <td>{{ReplicationFactor}}</td>
          <td>
              <a href="/rt/edit?service={{Service}}"><i class="icon-pencil"></i></a>
              <a href="#myModal" role="button" data-toggle="modal"><i class="icon-remove"></i></a>
          </td>
        </tr>
        {{/services}}
    </tbody>
</table>
</div>
</div>

<div id="newService" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Create New Service</h3>
  </div>
  <form class="form-horizontal" action="/new" method="post">
    <div class="modal-body">
      <!-- full-name input-->
      <div class="control-group">
          <label class="control-label">Service Name</label>
          <div class="controls">
              <input id="service-name" name="service-name" type="text" placeholder="Service Name" required="true"
              class="input-xlarge">
              <p class="help-block">This should be a unique name for this service. Cannot be changed once created.</p>
          </div>
      </div>
      <div class="control-group">
          <label class="control-label">Total Partitions</label>
          <div class="controls">
              <input id="total-partitions" name="total-partitions" type="number"
              class="input-xlarge" value="512">
              <p class="help-block">Total Number of Partitions.  This should be a good deal higher then the max number of servers you want to support. It is not possible to change this number (at least not easily). Choose wisely.</p>
          </div>
      </div>

      <div class="control-group">
          <label class="control-label">Replication Factor</label>
          <div class="controls">
              <input id="replication" name="replication" type="number"
              class="input-xlarge" value="2">
              <p class="help-block">How many times the data will be replicated. higher is more tolerant of failures, but slower inserts.  This can be changed.</p>
          </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <button class="btn btn-primary">Save</button>
    </div>
  </form>
</div>
